* {
    font-weight: bold;
    font-family: Arial Black;
    background-color: rgb(153,217,234);
}

#beschreibung {
    font-size: 16px;
    text-align: justify;

}

.mitte {
    height: 50%;
}

#unserlogo {
    float: right;
    border-color: black;
    width: 10%;
}

#ueberschrift {
    text-align: center;
    font-size: 22px;
}

#logo {
    float: right;
    height: 30%;
    width: 30%;
    margin: 10px;
}

#bild {
    height: 30%;
    width: 30%;
    margin-top: 10px;
}