* {
    font-weight: bold;
    font-family: Arial Black;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(153,217,234);
    margin: 0 auto;
}

#ueberschrift {
    font-size: 22px;
}

#kopfzeile {
    padding: 3px;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    text-align: center;
}

#links {
    float: left;
    padding: 15px;
    width: 20%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: black;
}


#mitte {
    float: right;
    width: 76%;
    background-color: green;
    padding-top: 15px;
}

#unserlogo {
    float: right;
    height: 100%;
}

a {
    font-size: 16px;
}

#messeinformationen {
    font-size: 14px;
}

#messetext {
    font-size: 12px;
}