#anmeldung {
    font-size: 20px;
}

#anmeldungtext {
    font-size: 12px; <!-- font-size oder line-height ? -->
}

#messeinformationen {
    font-size: 14px;
}

#messetext {
    font-size: 12px;
}

label {
    font-size: 12px;
}

a {
     font-size: 16px;
 }

input {
    font-size: 12px;
}

#formular {
    width: 60%;
    float: left;
}