* {
    font-weight: bold;
    font-family: Arial Black;
}

body {
    background-color: rgb(153,217,234);
}

#kopfzeile {
    height: 80px;
    text-align: center;
}

#mitte {
    align-content: center;
}

#rechts {
    float: right;
    margin-left: 10px;
    height: 600px;
}

#unserlogo {
    float: right;
    height: 100%;
}

a {
    font-size: 16px;
}

#messeinformationen {
    font-size: 14px;
}

#messetext {
    font-size: 12px;
}