* {
    font-weight: bold;
    font-family: Arial Black;
}

body {
    background-color: rgb(153,217,234);
}

#kopfzeile {
    background-color: cornflowerblue;
    height: 80px;
    text-align: center;
}

#mitte {
    background-color: khaki;
    align-self: center;
    height: 600px;
}

#rechts {
    background-color: hotpink;
    float: right;
    width: 250px;
    height: 600px;
}

#unserlogo {
    float: right;
    height: 100%;
}