#beschreibung {
    font-size: 16px;
}

#ueberschrift {
    font-size: 22px;
}

#messelogo {
    float: right;
    width: 15%;
    margin: 10px;
}

#messebild {
    width: 20%;
    margin-top: 10px;
}